.button{
	display: flex;
	align-items: cenbter;
	font-size: 30px;
	color: var(--detail-1);
	background-color: var(--root-base);
	transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
	border: 0;
	border-radius: 50%;
}

.button:hover{
	cursor: pointer;
	color: var(--detail-2);
	transform: scale(1.3);
}