.button {
  display: flex;
  align-items: center;
  color: var(--detail-1);
  background-color: transparent;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  border: 0;
  border-radius: 50%;
}

.crafter-button {
  font-size: 30px;
}
.crafter-button:hover {
  cursor: pointer;
  color: var(--detail-2);
  transform: scale(1.3);
}

.navbar-button {
  font-size: 25px;
}

.navbar-button:hover {
  cursor: pointer;
  color: var(--detail-2);
  transform: rotate(30deg) scale(1.1);
}

.get-started {
  color: var(--secondary-font);
  border: 1px solid var(--detail-1);
  flex-direction: row-reverse;
  border-radius: 5px;
  padding: 8px;
  gap: 5px;
}

.get-started:hover {
  cursor: pointer;
  border-color: var(--detail-2);
	animation: shake 0.5s ease-in-out
}

.button-text {
  font-family: system-ui;
	font-weight: 600;
	transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}
